{{#> application_layout}}
    {{#*inline "page_title"}}Reminders{{/inline}}
    {{#*inline "page_content"}}
        <style>
            body {
                background: #f0f2f5;
            }
        </style>
        <div class="reminders-index">
            <div class="bg-white border-bottom-gray">
                <div class="container pt-4 pb-2">
                    <form action="https://positivelys.com/reminders" method="POST">
                        <p class="text-black-50 mb-2">When do you want a <span class="font-weight-bold">Positivelys</span> reminder?</p>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="sr-only" for="time">Time</label>
                                    <input value="{{form.time}}" type="time" id="time" name="time" class="form-control">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="sr-only" for="day">Day</label>
                                    <select value="{{form.day}}" name="day" class="form-control" id="day">
                                        <optgroup>
                                            <option value="-3">Everyday</option>
                                            <option value="-2">Weekdays</option>
                                            <option value="-1">Weekends</option>
                                        </optgroup>
                                        <optgroup>
                                            <option value="0">Sunday</option>
                                            <option value="1">Monday</option>
                                            <option value="2">Tuesday</option>
                                            <option value="3">Wednesday</option>
                                            <option value="4">Thursday</option>
                                            <option value="5">Friday</option>
                                            <option value="6">Saturday</option>
                                        </optgroup>

                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary font-weight-bold">
                                    Add
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <section class="container px-0 mt-2">
                <ul class="list-unstyled">
                    {{#each reminders as |reminder|}}

                        <li class="my-2 pt-1 px-3 p-2 bg-white shadow-sm font-weight-bold {{#if @last}}mb-4{{/if}}">
                            <div class="row d-flex align-items-center">
                                <div class="col-8">
                                    {{reminder.day}} {{fmt_reminder_time reminder.hour reminder.minute}}
                                </div>
                                <div class="col-4">
                                    <form action="https://positivelys.com/reminders/{{id}}/delete"
                                          method="POST" class="dropdown-item">
                                        <input type="submit" class="btn btn-outline-dark btn-sm" value="Remove"/>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    {{/inline}}
{{/application_layout}}

