{{#> application_layout}}
    {{#*inline "page_title"}}Positivelys{{/inline}}
    {{#*inline "page_content"}}
        <style>
            body {
                background: #f0f2f5;
            }

            .font-12 {
                font-size: 12px;
            }

            .font-22 {
                font-size: 22px;
            }


            .dropdown-toggle:after {
                content: none
            }

            .dropdown-toggle.btn-link:focus {
                text-decoration: none;
            }

            .dropdown-toggle.btn-link:hover {
                text-decoration: none;
            }

            .dropdown-toggle.btn:focus {
                box-shadow: none;
            }
        </style>
        <div class="bg-white border-bottom-gray">
            <div class="container py-3">
                <div class="row ">
                    <div class="col-10 text-black-50">
                        <a href="https://positivelys.com/positivelys/new"
                           class="text-decoration-none text-reset px-3 py-2 rounded border d-inline-block w-100">
                            <div class="d-inline-block" id="whatsPositive">
                                What's positive about today?
                            </div>
                        </a>
                    </div>
                    <div class="col-2 pr-0">
                        <div class="d-flex align-items-center h-100">
                            <span class="{{animation_class}} font-22 badge badge-primary">
                                {{todays_total}}
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <section class="container px-0 mt-2">
            {{#if positivelys}}
                <ul class="list-unstyled">
                    {{#each positivelys as |positively|}}

                        <li class="my-2 pt-1 p-3 bg-white shadow-sm font-weight-bold">
                            <div class="mt-n2 pb-2 font-12 text-muted font-weight-lighter d-flex">
                                <div>
                                    {{fmt_positively_time positively.created_at}}
                                </div>
                                <div class="ml-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-link btn-sm text-muted dropdown-toggle p-0 border-0 font-12 align-baseline"
                                                type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                            </svg>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right"
                                             aria-labelledby="dropdownMenuButton">
                                            <span class="dropdown-item">
                                                <a class="btn btn-link"
                                                   href="https://positivelys.com/positivelys/{{id}}/edit">Edit</a>
                                            </span>
                                            <form action="https://positivelys.com/positivelys/{{id}}/delete"
                                                  method="POST" class="dropdown-item">
                                                <input type="submit" class="btn btn-link" value="Delete"/>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#if positively.media_file }}
                                <img
                                        src="{{@root.local_files_path}}{{positively.media_file.file_location}}"
                                        width="100%"
                                        height="auto"
                                        class="rounded-sm mb-1"
                                        alt=""
                                />
                            {{/if}}
                            {{positively.moment}}
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <div id="noPositivelys" class="alert alert-primary" role="alert">
                    <span class="font-weight-bold">Positivelys</span> is your personal feed of positive moments & thoughts. Add to
                    your <span class="font-weight-bold">Positivelys</span> often to make a habit out of positive
                    thinking.
                </div>
            {{/if}}

        </section>

    {{/inline}}
{{/application_layout}}

